.product-detail .left {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4b4b4b;
}
.product-detail .product-img {
  width: 150px;
  height: 150px;
  border: 1px solid #002140;
  margin-right: 10px;
}
